body {

    font-family: Arial, sans-serif;
    background-color: #ffffff; ;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0E748C ;
    color: white;
    text-align: center;
    padding: 20px;
}

.contenedor{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.contenido {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    flex: 1 1 300px ;
}

.formulario {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    flex: 1 1 300px ;
}

.formulario h2{
    margin-top: 0;
}

.formulario form{
    display: flex;
    flex-direction: column;
}

.formulario label{
    margin-top: 10px;
    font-weight: bold;
}

.formulario input{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.formulario button{
    margin-top: 15px;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario button:hover{
    background-color: #1565c0;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
    